<app-header></app-header>
<!-- <h1>Hello World</h1>
<h2>{{title}}</h2>
<h3>{{name}}</h3>
<h2>{{getName()}}</h2>
<h2>{{obj.name}}</h2>
<h2>{{arr}}<h2>
<h3>{{arr[0]}}</h3>
<h4>{{siteUrl}}</h4>
-->
<app-user-list> <!-- [Hero]="data" --> </app-user-list>
<app-login (parentFunction)="parentFunction($event)"></app-login>
<br> <br>
<h2>{{name}}</h2>
<a routerLink="user-list">user-list</a>
<br> <br>
<a routerLink="login">login</a>
<br> <br>
<a routerLink="admin">admin</a>
<router-outlet></router-outlet>
<h2>{{topic}}</h2>
<p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>
<button (click)="getName2(name)">Get my name</button>
<br> <br>
<!-- <input type="text" #box (keyup.enter)="getName2(box.value)" />
<br> <br>
<input type="text" #box (blur)="getName2('blur event')" />
<br> <br>
<h1 (mouseover)="getName2('mouseover')"
style="background-color: aqua;">mouse event</h1> 
<input type="text" (keyup.enter)="getVal($event.target.value)" />
<h2>{{currentVal}}</h2> -->
<br> <br>
<input type="text" #b />
<button mat-button color="primary" (click)="getVal(b.value)">Get Value</button>
<h2>{{currentVal}}</h2>
<!--<input type="text" [value]="name" />
<h2 *ngIf="show else elseBlock">
    If Block
</h2>
<ng-template #elseBlock>
    <h2>else block</h2>
</ng-template>
<h4 *ngFor="let item of arr">
    {{item}}
</h4> -->
<form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
    <input type="text" ngModel name="user" placeholder="enter user name" >
    <br> <br>
    <input type="text" ngModel name="age" placeholder="enter user age" >
    <br> <br>
    <input type="text" ngModel name="address" placeholder="enter user address" >
    <br> <br>
    <input type="password" ngModel name="password" placeholder="enter user password" >
    <br> <br> 
    <button>Get user values</button>
</form>
<br> <br>
<h1 [style.color]="color">Some text</h1>
<button (click)="updateColor()">Update color</button>
<app-footer></app-footer>
