<div *ngIf="check; else elseS"> 
    <h3>{{title}} Test true {{itemSize}}</h3>
</div>
<ng-template #elseS>
    <div>
        <h3>{{title}} Test false {{itemSize}}</h3>
    </div>
</ng-template>
<button (click)="changeCheck()">Change check</button>
<button (click)="addItem()">Add item</button>
<button (click)="removeItem()">Remove item</button>
<div *ngFor="let item of items">
    <div *ngIf="check; else elseBlock">
        {{item}} true
    </div>
    <ng-template #elseBlock>
        <div>
            {{item}} false
        </div>
    </ng-template>
</div>
